name: Build and Test

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

     # - name: Set up Conda environment
        #run: |
          #conda config --set restore_free_channel true
          #conda env create -n creditFraud -f environment.yml
          #conda init bash
          #conda activate creditFraud
          #conda install black flake8 mypy
      - name: Setup miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          miniforge-variant: Mambaforge
          channels: conda-forge
          python-version: 3.9
          activate-environment: creditFraud
          environment-file: environment.yml
          use-mamba: true

      - name: Run black
        run: |
          conda install black flake8 mypy
          flake8

      - name: Run flake8
        run: black --check .

      - name: Run Mypy
        run: mypy retinaface

      #- name: Deactivate Conda environment
       # run: conda deactivate
