name: Build and Test

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Conda environment
        run: |
          conda config --set restore_free_channel true
          conda env create -n creditFraud -f environment.yml
          conda activate creditFraud
          conda install black flake8 mypy

      - name: Run black
        run: black --check .

      - name: Run flake8
        run: flake8

      - name: Run Mypy
        run: mypy retinaface

      - name: Deactivate Conda environment
        run: conda deactivate
